// variables
ee-black = #272727
ee-font-gray = #808080
ee-outline-gray = #e6e6e6
ee-alert-red = #ff1744

ee-dark-gray = #b9bbbf
ee-gray = #e0dfe1
ee-gray-light = #fbfbf9


// reset
*
  box-sizing border-box
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin 0
  padding 0
  border 0
  outline none
  font-family 'PT Sans', sans-serif

// ui
body
  background-color white
h1
  font-size 35px
h2
  font-size 32px
h3
  font-size 27px
h4
  font-size 25px
a
  color #3b5998

// components
.ee
  &--panel
    margin 10px
    padding 10px
    font-size 16px

  &--button
    padding 10px
    margin-right 10px
    background-color #FFF5D9
    font-size 14px
    cursor pointer
    user-select none
    display inline-block
