// variables
ee-black = #272727
ee-font-gray = #808080
ee-outline-gray = #e6e6e6
ee-alert-red = #ff1744

ee-dark-gray = #b9bbbf
ee-gray = #e0dfe1
ee-gray-light = #fbfbf9


// reset
*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    margin 0
    padding 0
    border 0
    outline none
    font-family 'PT Sans', sans-serif

// ui
body
    background-color ee-gray-light
