// variables
ee-yellow = #ffeba9
ee-yellow-light = #fdf2d0

ee-orange = #ffd4c0
ee-orange-light = #fde7dc

ee-pink = #ffa8cd
ee-pink-light = #fdd2e3

ee-green = #b7efca
ee-green-light = #d9f5e1

ee-blue = #b3ecf3
ee-blue-light = #d7f3f6

ee-purple = #cda9ff
ee-purple-light = #e3d1fc

ee-black = #272727
ee-font-gray = #808080
ee-outline-gray = #e6e6e6
ee-alert-red = #ff1744

ee-dark-gray = #b9bbbf
ee-gray = #e0dfe1
ee-gray-light = #f7f7f5


// reset
*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    margin 0
    padding 0
    border 0
    outline none
    font-family 'PT Sans', sans-serif

// ui
body
    background-color ee-gray-light
